{%extends "Main/base.html" %} {%block body_block%}
{%load static%}

    <div class="index justify-content-center align-items-center "> 
        <div class="container h-100" id="top">
            <div class="row h-100 justify-content-center align-items-center">
               <a href="#Begin" class="btn btn-lg btn-primary d-block"><span class="auto-type display-3 col-md-4"></span></a>
            </div>
          </div>
         </div>
    
    <div class="jumbotron indexWidth mb-0 p-0 container2 ">
        <div class="border border-primary" >
        <div class="col-lg-10 mx-auto text-center">
            <div class=""><h1 class="text-center" id="Begin">Website of Tim Bleuzé</h1>
            <img src="{% static 'images/TimFoto1.png'%} " class="rounded-circle img-fluid" alt="">
        </div>
        <div class="col-lg-8 mx-auto text-justify mt-5 ">
            
            <p>This website will display everything I've ever done. Going from sports to programming projects to education. The reason I started this is because I was too lazy to make a normal CV so I decided to put it on a website. And eventually this website became more than just a CV. Now the CV is just one part of the site.</p>
        </div>
    </div>
</div>
<div class="container">

    <div class=" p-5 m-0 border-bottom border-primary">
        <h3 class="text-center pb-3">Here you see a timeline of all my educations starting from High school till college (2015-2022)</h3>
        <div class="">
            <div class="timeline text-center ">
               
                <div class="line"></div>
                <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>High School (2015-2020)</h2>
                    <p>My first study i did was Science and Math in Sin-Jan Berchmans College in Avelgem</p>
        
                </div>
            </div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>Last two years of High School (2020-2022)</h2>
                    <p>For my last two years I went to Guldensporencollege Kaai where I studied Informatics. This is also the place where my passion for programming started.</p>
        
                </div>
            </div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>College (2022-?)</h2>
                    <p>This year I will start my first College education in Howest. The education I will be following is MCT. I made this choice because this is the best one for AI.</p>
        
                </div>
            </div>
            <div class="section">
                <div class="bead"></div>
                <div class="content">
                    <h2>What about after college?</h2>
                    <p>After I have my bachelor degree I want to go for a masters degree in AI in KU Leuven.</p>
        
                </div>
            </div>
          
            </div>
        </div>
        </div> 
</div>

    
</div>



{% endblock %}
